
.red, .green, .blue, .aqua, .purple, .yellow, .black {
    padding: 10px; /*это отступ от внутренней части границы до содержимого*/
    padding-top: 10px; /*отступ от верхней части границы*/
    margin-right: 10px; /*выравнивание по горизонртали*/
    font-size: 20px; /*размер текста*/
    display: inline-block; /*выставление элементов (в данном случае в строчку)*/
}

.red {
    border: 10px outset rgb(207, 41, 41); /*толщина тип цвет границы*/
      
}

.green {
    border: 10px dashed rgb(34, 212, 43); /*толщина тип цвет границы*/

}

.blue {
    border: 10px dotted rgb(27, 84, 227); /*толщина тип цвет границы*/
   
}

.aqua {
    border: 10px double rgb(27, 197, 227); /*толщина тип цвет границы*/
   }

.purple {
    border: 10px groove rgb(180, 27, 227); /*толщина тип цвет границы*/
  
}

.yellow {
    border: 10px inset rgb(234, 237, 21); /*толщина тип цвет границы*/
    
}

.black {
    border: 10px solid rgb(0,0,0); /*толщина тип цвет границы*/

}

p {
    font-size: 25px; /*размер шрифта*/
}

p span {
    display: inline-block;  /*выставление элементов (в данном случае в строчку)*/
    padding: 5px; /*это отступ от внутренней части границы до содержимого*/
    margin: 5px; /*выравнивание*/
    background-color: #FFA500; 
    border: 4px solid #FF4500;
}

p q {
    display: inline-block;  /*выставление элементов (в данном случае в строчку)*/
    padding: 5px;  /*это отступ от внутренней части границы до содержимого*/
    margin: 5px; /*определяет внешний отступ на всех четырёх сторонах элемента*/
    background-color: #FFA500;
    border: 4px solid #FF4500;  /*позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента.*/

}

p a{
    display: inline-block;  /*выставление элементов (в данном случае в строчку)*/
    padding: 5px;
    margin: 5px; /*определяет внешний отступ на всех четырёх сторонах элемента*/
    background-color: #FFA500;
    border: 4px solid #FF4500;  /*позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента.*/
}


.abzac p:first-child,.qwe {
    width: 400px;
    margin:auto;
    text-align: center;
    border: 4px solid #FF7F50;  /*позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента.*/
}

.abzac p:nth-child(2),.lol {
    border: 5px solid red;  /*позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента.*/
    border-radius: 20px/40px; /*определяeт, как скругляются границы блока.*/
    box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.5) inset;
    overflow: auto;  /*пределяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить*/
}

.abzac p:last-child,.kek {
    border: 2px solid #FF6347;  /*позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента.*/
    /*третий абзац должен иметь сплошную границу #FF6347. */
}

